---
import "../styles/gloal.css";
import { config } from "@fortawesome/fontawesome-svg-core";
import "@fortawesome/fontawesome-svg-core/styles.css";
config.autoAddCss = false;

type Props = {
  title: string;
  description: string;
};

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    query: `
	query MeatadataQuery {
    cssVariables
	}`,
  }),
});
const { data } = await response.json();

const { title, description } = Astro.props;
console.log(description);
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  {!!data.cssVariables && <style set:html={`:root{${data.cssVariables}}`} />}
</head>
