---
import { Image } from "astro:assets";
import { joinClasses } from "../utils/joinClasses";
import { joinStyles } from "../utils/joinStyles";
type Props = {
  styles: string;
  classes: string;
  url?: string;
  width?: number;
  height?: number;
  dimRatio?: number;
  overlayColor?: string;
  customOverlayColor?: string;
  minHeight?: number;
  minHeightUnit?: string;
};
const { styles, classes, url, width, height, dimRatio = 50, overlayColor, customOverlayColor, minHeight, minHeightUnit } = Astro.props;

let minHeightValue = "";
if (minHeight && minHeightUnit) {
  minHeightValue = `${minHeight}${minHeightUnit}`;
}

let overlayStyle = "";
if (customOverlayColor) {
  overlayStyle = `background: ${customOverlayColor};`;
}
if (overlayColor) {
  overlayStyle = `background: var(--color--${overlayColor});`;
}
---

<div class={joinClasses(classes, "relative")} style={joinStyles(styles, `min-height: ${minHeightValue};`)}>
  {!!url && <Image class="absolute w-full h-full object-cover !max-w-full" width={width || 1000} height={height || 1000} src={url} alt="" />}
  <div class="absolute inset-0 bg-black !max-w-full !mt-0" style={`opacity: ${dimRatio / 100}; ${overlayStyle}`}></div>
  <div class="z-10 relative !mt-0 flex flex-col justify-center min-h-inherit">
    <slot />
  </div>
</div>
