---
import { joinClasses } from "../utils/joinClasses";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faChevronDown } from "@fortawesome/free-solid-svg-icons";
import { replaceUrls } from "../utils/replaceUrls.ts";
import { log } from "console";
type Props = {
  styles: string;
  classes: string;
  label: string;
  url: string;
};
const { styles, classes, label, url } = Astro.props;
const allClasses = joinClasses(classes, "group relative");

//WordPressのURLをAstroのURLに置き換え
const href = replaceUrls(url, import.meta.env.PUBLIC_SITE_URL);
---

<li class={allClasses} style={styles}>
  <a href={href}>
    {label}
    <FontAwesomeIcon icon={faChevronDown} className="text-xs pl-1" />
  </a>
  <ul class="hidden group-hover:block absolute top-full right-0 text-right whitespace-nowrap bg-event-horizon py-2 [&_a]:px-4 [&_a]:py-2 [&_a]:block z-20">
    <slot />
  </ul>
</li>
